<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-sm-8 col-sm-offset-2">
            <ul class="list-group">
                {{#each posts}}
                    <li class="list-group-item">
                        <div class="lead">
                            <a href="/posts/{{this._id}}" class="text-decoration-none">{{this.title}}</a>
                        </div>
                        <a href="{{this.url}}" target="_blank"
                           class="link-secondary text-decoration-none d-block">{{this.url}}</a>
                        <p><small>{{this.author.username}}</small></p>
                        <div class="text-end">
                            <a href="/n/{{this.subreddit}}" class="text-decoration-none">{{this.subreddit}}</a>
                        </div>

                        <form class="d-inline vote-up" data-id="{{this._id}}">
                            <button type="submit" class="bi bi-hand-thumbs-up btn btn-outline-success"> Vote Up</button>
                        </form>
                        <p class="d-inline mx-2">{{#subtract this.upVotes.length this.downVotes.length}}{{/subtract}}</p>
                        <form class="d-inline vote-down" data-id="{{this._id}}">
                            <button type="submit" class="bi bi-hand-thumbs-down btn btn-outline-danger"> Vote Down
                            </button>
                        </form>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>